<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examsys.dao.QuestioninfoMapper">
  <resultMap id="BaseResultMap" type="com.examsys.model.Questioninfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questioninfo
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.examsys.model.Questioninfo">
    update questioninfo
    set content = #{content,jdbcType=VARCHAR},
      `options` = #{options,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, content, `options`, answer, `type`
    from questioninfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, content, `options`, answer, `type`
    from questioninfo
  </select>


  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.examsys.model.Questioninfo">
    insert into questioninfo (id, content, `options`,
    answer, `type`)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{options,jdbcType=VARCHAR},
    #{answer,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
</mapper>